<appSettings>
  <add key="RootDomain" value="fabrikam.local" />
  <add key="RootOu" value="DC=fabrikam,DC=local" />
  <add key="ServiceUser" value="iisadmin" />
  <add key="ServicePassword" value="password" />
  <add key="SmtpServer" value="mail.fabrikam.com" />
  <add key="HelpDeskEmailAddress" value="helpdesk@fabrikam.com" />
  <add key="HrEmailAddress" value="hr@fabrikam.com" />
</appSettings>
